In [26]:
import pandas as pd
import numpy as np

In [80]:
simu_data = '/mnt/storage/projects/k-seq/datasets/simulated/on_doped_s1000_d40/'
count_table = pd.read_csv(simu_data + '/Y.csv', index_col='seq')
x_values = pd.read_csv(simu_data + '/x.csv', index_col='param').loc['c']
input_samples = list(x_values[x_values < 0].index)
reacted_samples = list(x_values[x_values >= 0].index)
total_dna = pd.read_csv(simu_data + 'dna_amount.csv', header=None, index_col=0)[1]
amount_table = (count_table / count_table.sum(axis=0) * total_dna)
input_base = amount_table[input_samples].median(axis=1)
work_table = amount_table[input_base > 0][reacted_samples].divide(input_base[input_base > 0], axis=0)
work_table = work_table.loc[work_table.sum(axis=1).sort_values(ascending=False).index]
work_table = work_table[work_table.sum(axis=1) > 0]

In [82]:
work_table.iloc[:10].shape

(10, 15)

In [60]:
t =

,s1-0,s1-1,s1-2,s2-0,s2-1,s2-2,s3-0,s3-1,s3-2,s4-0,s4-1,s4-2,s5-0,s5-1,s5-2
seq,,,,,,,,,,,,,,,
330,0.006753,0.004886,0.005856,0.029243,0.024606,0.027068,0.088383,0.111263,0.122017,0.573891,0.306097,0.406023,0.780937,0.879404,1.239177
429,0.005496,0.004444,0.004660,0.026597,0.034314,0.034087,0.128615,0.172625,0.116816,0.635424,0.371194,0.695113,0.461672,0.571300,0.606865
951,0.007260,0.007026,0.007484,0.033386,0.034049,0.043244,0.122012,0.131098,0.128873,0.366561,0.281960,0.337352,0.338220,0.353970,0.385857
720,0.001453,0.001301,0.001504,0.006553,0.007086,0.009006,0.028957,0.032866,0.031965,0.159701,0.131012,0.152790,0.268785,0.287173,0.330333
135,0.001453,0.001344,0.001494,0.006572,0.007075,0.008937,0.028961,0.032294,0.031653,0.150280,0.123669,0.144441,0.229699,0.248464,0.281141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004653,0.000000
761,0.000004,0.000000,0.000000,0.000000,0.000018,0.000023,0.000065,0.000000,0.000071,0.000000,0.000453,0.000530,0.000866,0.000929,0.001586
878,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002081,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
950,0.000000,0.000000,0.000000,0.001539,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
287,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000730,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [62]:
t

seq
0      0.000000
1      0.000000
2      0.000000
3      0.221316
4      0.000000
         ...
995    0.000000
996    0.208204
997    0.000000
998    0.340156
999    0.068905
Length: 943, dtype: float64